{
  "comments": false,
  "env": {
    "main": {
      "presets": [
        ["@vue/babel-preset-jsx"],
        ["env", {
          "targets": {
            "node": 7
          }
        }],
        "stage-0"
      ]
    },
    "renderer": {
      "presets": [
        ["@vue/babel-preset-jsx"],
        ["env", {
          "modules": false
        }],
        "stage-0"
      ]
    },
    "web": {
      "presets": [
        ["@vue/babel-preset-jsx"],
        ["env", {
          "modules": false
        }],
        "stage-0"
      ]
    }
  },
  "plugins": [
    ["import", {
      "libraryName": "iview",
      "libraryDirectory": "src/components"
    }], "transform-runtime"
  ]
}