@charset "UTF-8";
@import 'theme.config.less';


body {
    background: transparent;
}

.hide {
    display: none;
}

.hr {
    height: 1px;
    background: #aaa;
    width: 80%;
    margin: 10px auto;

}

.button {
    display: inline-block;
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    background: @primary_color;
    color: @font_w_color;
    cursor: pointer;
    border-radius: 3px;
}

.button:hover {
    background: @primary_color - 20
}

.main_bg {
    background: @sub_color
}

.side_bg {
    background: @main_color
}


.floatbox {
    background: @main_color;
    border: 1px solid @sub_color;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    -webkit-app-region: drag;
    cursor: default;
    transition: all @speed;
    -webkit-transition: all @speed;
}

.floatbox span {
    color: @font_w_color;
    text-align: center;
    width: 100%;
    line-height: 50px;
    display: block;
    font-size: 12px;
}

.floatbox.open {
    width: 800px;
    height: 600px;
    transition: all @speed;
    -webkit-transition: all @speed;
}






.layout-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-basis: auto;
    box-sizing: border-box;
    min-width: 0;
    transition: all @speed;

}

.layout-header {
    color: @font_w_color;
    height: 40px;
    width: 100%;
    z-index: 100;
    -webkit-app-region: drag;
    border-top-right-radius: @border_radius;
    border-top-left-radius: @border_radius;
}

.layout-side {
    background: @main_color;
    flex: 0.4;
    color: @font_w_color;
    border-top-left-radius: @border_radius;
    border-bottom-left-radius: @border_radius;
}

.layout-main {
    background: @sub_color;
    flex: 1;
    color: @font_w_color;
    border: 1px solid #ccc;
    border-top-right-radius: @border_radius;
    border-bottom-right-radius: @border_radius
}

.is-vertical {
    flex-direction: column;
}



.filter .item {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    color: #b6b6b6
}

.filter .item span.name {
    display: inline-block;
    margin-left: 5px;
    width: 60%
}

.filter .item span.num {
    display: inline-block;
    text-align: right;
    width: 20%
}

.filter .item:hover,
.filter .item.checked {
    background: @primary_color;
    color: #fff;
}

.task_type .title {
    padding: 10px 20px;
    font-size: 14px;
    color: #999
}

.task_type .title span {
    text-align: left;
    display: inline-block;
    width: 87%;
    font-weight: bold;
}

.task_type .title i {
    text-align: right;
    display: inline-block;
    width: 10%;
    cursor: pointer;
}


.addType .content {
    width: 60%;
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
    margin-top: 190px;
}


.addType .content input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border: 1px solid @font_g_color;
    color: @font_add_color;
    border-radius: 3px;
    margin-bottom: 20px;
}

.addType .content .box {
    width: 100%;
}

.addType .content.mt {
    margin-top: 160px;
}

.addType .content .box .ivu-date-picker {
    width: 50%;
}

.addType .content .box .select {
    width: 24%;
    vertical-align: top;
}

.addType .content .box .ivu-select-single .ivu-select-selection,
.addType .content .ivu-select-single .ivu-select-selection .ivu-select-placeholder,
.addType .content .ivu-select-single .ivu-select-selection .ivu-select-selected-value {
    border-color: #ccc;
    height: 40px;
    line-height: 40px;
    text-align: left;
}


.tools {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.tools input {
    width: 430px;
    height: 40px;
    padding: 0 10px;
    border: 1px solid @font_g_color;
    color: @font_add_color;
    border-radius: 3px;
    margin: 0 5px;
}

.tools .addTask {
    color: #666;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
}

.tools .addTask i {
    font-size: 20px;
    position: relative;
    left: -2px;
}

.tools .select {
    width: 60px;
    position: absolute;
    right: -10px;
    top: 5px;
}


.tools .ivu-select-selection {
    border: none;
}






.task_list {
    margin: 10px auto;
    margin-top: 20px;
    padding-bottom: 20px;
    height: 430px;
    overflow: scroll;
    position: relative;
}

.task_list .group {
    // width: 90%;
    // margin: 0 auto;
    display: block;
    position: absolute;
    left: 5%;
}

.task_list .item {
    color: #666;
    padding: 10px 0;
    font-size: 14px;
    width: 100%;
    position: relative;
}



.task_list .item>label {
    color: #666;
    font-size: 14px;
}


.task_list .item .title {
    width: 425px;
    color: #666;
}

.task_list .item:hover .title {
    color: @primary_color
}

.task_list .item .tools {
    width: 60px;
    vertical-align: top;
    display: inline-block;
    position: relative;
    bottom: 2px;
}

.task_list .item .tools i {
    padding-left: 10px;
    cursor: pointer;
}

.task_list .item .tools i:hover {
    color: @primary_color
}


.task_list .item span.title {
    display: inline-block;
    padding-left: 5px;
}

.task_list .item span.title.left {
    padding-left: 25px;
    width: 455px;
}




.tash_over {
    width: 90%;
    margin: 0 auto;
}

.tash_over span {
    display: block;
    width: 100%;
    font-size: 14px;
    color: @sub_color;
    background: #888;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.tash_over i {
    padding: 0 5px;
}

.tash_over span:hover {
    background: #555;
}


//iview样式重绘
.ivu-checkbox {
    vertical-align: top;
    position: relative;
    top: 3px;
}

.ivu-checkbox-checked .ivu-checkbox-inner,
.ivu-btn-primary,
.ivu-btn-primary.active,
.ivu-btn-primary:active {
    border-color: @primary_color;
    background-color: @primary_color;
}

.ivu-checkbox-checked:hover .ivu-checkbox-inner {
    border-color: @primary_color;
}


.ivu-select-visible .ivu-select-selection,
.ivu-input:focus {
    -webkit-box-shadow: none;
    box-shadow: none
}

.ivu-select-single .ivu-select-selection .ivu-select-placeholder,
.ivu-select-single .ivu-select-selection .ivu-select-selected-value,
.ivu-select-item {
    font-size: 14px !important;

}

.ivu-select-item {
    text-align: left
}

.ivu-select-item-selected,
.ivu-select-item-selected:hover {
    color: @primary_color;
}

.ivu-btn-primary:hover,
.ivu-date-picker-cells-cell-selected em,
.ivu-date-picker-cells-cell-selected:hover em,
.ivu-date-picker-cells-cell-today em:after {
    background-color: @primary_color - 20;
}

.ivu-input-prefix i,
.ivu-input-suffix i {
    line-height: 40px;
}

.ivu-input {
    font-size: 14px
}

.ivu-date-picker-cells-focused em {
    -webkit-box-shadow: 0 0 0 1px @primary_color inset;
    box-shadow: 0 0 0 1px @primary_color inset;
}

.ivu-date-picker-cells-cell-today em:after,
.ivu-date-picker-cells-cell-selected em,
.ivu-date-picker-cells-cell-selected:hover em {
    background: @primary_color
}