<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>egtime</title>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
  </head>
  <body>
    <div id="app"></div>
    <% if (process.env.NODE_ENV !== 'development') { %>
      <audio id="ding" src="../electron/static/ding.mp3" ></audio>
      <% } %>
  
      <% if (process.env.NODE_ENV === 'development') { %>
        <audio id="ding" src="../static/ding.mp3" ></audio>
      <% } %>
    <!-- Set `__static` path to static files in production -->
    <% if (!process.browser) { %>
      <script>
        if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
      </script>
    <% } %>

    <!-- webpack builds are automatically injected -->
    <% if (process.env.NODE_ENV !== 'development') { %>
      <script src="../electron/static/jquery-2.0.3.min.js"></script>
      <% } %>
  
      <% if (process.env.NODE_ENV === 'development') { %>
        <script src="../static/jquery-2.0.3.min.js"></script>
      <% } %>
  </body>
</html>
